<a style="cursor: pointer;" class="list-group-item clearfix"
routerLink="/course-details"
[queryParams]="{courseDetails: course._links.self.href}">
    <div class="row">
      <div class="col">
    <div class="card card-lift--hover shadow border-0">
            <img [src]="imgPath.small" [alt]="imgPath.description">
      <div class="card-body py-5">
        <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
          <i class="ni ni-check-bold"></i>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-muted font-weight-bold">{{course.title}}</p>
          </div>
    
        </div>
        <div class="row">
          <div class="col">
            <p class="text-muted font-weight-bold">{{author.firstName}} {{author.lastName}}</p>
          </div>
          
        </div>
        <div class="row">
          <div class="col">
            <p class="text-muted font-weight-bold ">{{course.price}}</p>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
  
    
  </div>

</a>