<div class="container">
<div class="row">
<div class="col-lg-12">
    <form (ngSubmit)="onAddLesson(f)" #f="ngForm" style="margin-top: 100px;">
        <div class="row">
            <div class="col-sm-5 form-group">
            <label for="title">Title</label>
                <input type="text" id="title" 
                class="form-control" 
                name="title" ngModel>
            </div>
            <div class="col-sm-5 form-group">
                <label for="fichier">Fichier</label>
                <input type="file" id="fichier" 
                class="form-control"
                (change)="onFileSelect($event)" 
                name="fichier" ngModel>
            </div>

            <div class="col-sm-5 form-group">
                <label for="duree">Durée</label>
                <input type="text" id="duree" 
                class="form-control" 
                name="duree" ngModel>
            </div>
            <div class="col-sm-5 form-group">
                <label for="source">Source url</label>
                <input type="text" id="source" 
                class="form-control" 
                name="source" ngModel>
            </div>
            
        </div>
        <div class="row">
            <button class="btn btn-success" type="submit">
            Ajouter
            </button></div>
    </form>
</div>
</div>
</div>

