
<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="heading-title  text-white font-weight-bold">
                  <span>{{courseDetails.title}}</span>
                </h1>
                <p class="lead  text-white">{{courseDetails.description}}</p>
                <div class="col">
                  <span class="badge badge-pill badge-warning">{{courseDetails.courseStatus}} </span>

                </div>
                <div class="row">
                  <div class="col">
                   <p class="lead text-white">notes</p> 
                  </div>
                  <div class="col">
                    <p class="lead text-white"> (nombre de notes)</p>
                  </div>
                  <div class="col">
                    <p class="lead text-white">nombres d'inscrits</p>
                  </div>
                </div>
                
                <div class="col">
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="lead text-white">Créé par Autheur</p>
                  </div>
                  <div class="col">
                    <p class="lead text-white"> date mise à jour</p>
                  </div>
                </div>
               <div class="row">
                <div class="col">
                  <p class="lead text-white">langue</p>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      
      <!-- 1st Hero Variation -->
      <section class="section section-lg pt-lg-0 mt--200">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
        <div class="row mb-1">
          <div class="col-lg-8">
            <div class="card bg-light">
              <div class="card-body">
                <h5 class="card-title">
                  Présentation du cours
                </h5>
              </div>
            </div>
          </div>
      </div>
              <div class="row mb-1">
                <div class="col-lg-8">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        Contenu du cours
                      </h5>
                      <app-chapter></app-chapter>
                    </div>
                  </div>
                </div>
            </div>
              <div class="row row-grid justify-content-end mt--200">
                
                <div class="col-lg-4">
                  <div class="card card-lift--hover shadow border-0">
                    <img src="/assets/img/theme/team-4-800x800.jpg" alt="" class="card-img-top">
                    <div class="card-body py-5">
                      <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                        <i class="ni ni-planet"></i>
                      </div>
                      <h6 class="text-warning text-uppercase">{{courseDetails.price}}</h6>
                      <p class="description mt-3">Ce cours comprend</p>
                      <p class="text-muted">Vidéo à la demande</p>
                      <p class="text-muted">Articles</p>
                      <p class="text-muted">Exercices de code</p>
                      <p class="text-muted">Accès illimité</p>
                      <p class="text-muted">Certificat de fin de formation</p>

                      <div>
                        <span class="badge badge-pill badge-warning">marketing</span>
                        <span class="badge badge-pill badge-warning">product</span>
                        <span class="badge badge-pill badge-warning">launch</span>
                      </div>
                      <a href="javascript:void(0)" class="btn btn-warning mt-4">Acheter</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    </main>